{% extends 'base-employee.html' %} {% block style %}
<style>
  .radio-button-wrapper-body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: scroll; */
    width: 100vw;
    overflow: auto;
    padding: 0px 10px;
    
  }

  .radio-button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* overflow: scroll; */
    overflow-x: auto;
    gap: 10px;

  }
  .radio-button {
    border-radius: 23px;
    width: fit-content;
    min-width: 160px;
    height: 43px;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 20px;
    color: white;
  }
  .body-of-pickup-waste {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
  }

  .body-of-pickup-waste > h1 {
    font-weight: 500;
    font-size: 25px;
    color: #009743;
  }
    .user-content-wrapper{
        overflow: scroll;
        overflow-x: hidden;
        height: 35rem;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
  .user-content {
    background: #ffffff;
    box-shadow: -2px 4px 16px rgba(0, 0, 0, 0.2);
    border-radius: 22.8822px;
    padding: 15px 30px;
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items:start;

  }
  .user-content>h1{
    font-weight: 600;
    font-size: 21.7801px;
  }
  .user-content>p{
    font-weight: 400;
    font-size: 12.8414px;
  }

  /*popup css*/

.form-popup {
  display: none;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  padding: 10px;
  background-color: white;
}

.form-container .btn {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
  </style>
{% block employeestyle %}{% endblock %} {% endblock %} {% block title %}
Pending Pickups{% endblock %} {% block content %}
<div class="radio-button-wrapper-body">
  <div class="radio-button-wrapper">
    <a href="{% url 'paper_pickup' %}">
      <div class="radio-button" style="background-color:#F7931A">
        <img src="../../static/images/Schedule-logos-1.svg" alt="" />
        <p>Paper</p></div
    ></a>
    <a href="{% url 'biowaste_pickup' %}">
      <div class="radio-button" style="background-color: #009743;">
        <img src="../../static/images/Schedule-logos-2.svg" alt="" />
        <p>Bio waste</p></div
    ></a>
    <a href="{% url 'plastic_pickup' %}">
      <div class="radio-button" style="background-color: #1877F2;">
        <img src="../../static/images/Schedule-logos-3.svg" alt="" />
        <p>Plastic</p></div
    ></a>
    <a href="{% url 'glass_pickup' %}">
      <div class="radio-button" style="background-color:  #EB4335;">
        <img src="../../static/images/Schedule-logos-4.svg" alt="" />
        <p>Glass</p></div
    ></a>
    <a href="{% url 'ewaste_pickup' %}">
      <div class="radio-button" style="background-color: #BD00FF;">
        <img src="../../static/images/Schedule-logos-5.svg" alt="" />
        <p>E-Waste</p></div
    ></a>
    <a href="{% url 'others_pickup' %}">
      <div class="radio-button" style="background-color: #8E8E8E;">
        <img src="../../static/images/Schedule-logos-6.svg" alt="" />
        <p>Others</p></div
    ></a>
  </div>
</div>
<div class="body-of-pickup-waste">
  <h1>{% block employeetitle %}{% endblock %}</h1>
  {% block employeecontent %} {% endblock %}
</div>
{% endblock %}
 {% block script %}
  {% block pickupscript %}
    {% endblock %}
{% endblock %}
