{% extends 'base.html' %} {% block style %}
<style>
  .notification-wrapper {
    width: 100%;
    height: 40rem;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 5px;
  }

  .notifications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 358px;
    height: 77.15px;
    background: #fcfcfc;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.15);
    border-radius: 13.535px;
    padding: 10px;
  }

  .notifications > h3 {
    font-weight: 500;
    font-size: 14px;
  }

   .notifications >p {
     font-weight: 400;
    font-size: 11px;
   }
</style>
{% endblock %} {% block title %} Notifications{% endblock %} {% block content %}
<div class="notification-wrapper">
  <div class="notifications">
    <h3>Your waste has been collected successfully</h3>
    <p>Track your waste in the Track Tab.</p>
  </div>
  <div class="notifications">
    <h3>Your waste has been collected successfully</h3>
    <p>Track your waste in the Track Tab.</p>
  </div>
  <div class="notifications">
    <h3>Your waste has been collected successfully</h3>
    <p>Track your waste in the Track Tab.</p>
  </div>
  <div class="notifications">
    <h3>Your waste has been collected successfully</h3>
    <p>Track your waste in the Track Tab.</p>
  </div><div class="notifications">
    <h3>Your waste has been collected successfully</h3>
    <p>Track your waste in the Track Tab.</p>
  </div><div class="notifications">
    <h3>Your waste has been collected successfully</h3>
    <p>Track your waste in the Track Tab.</p>
  </div><div class="notifications">
    <h3>Your waste has been collected successfully</h3>
    <p>Track your waste in the Track Tab.</p>
  </div><div class="notifications">
    <h3>Your waste has been collected successfully</h3>
    <p>Track your waste in the Track Tab.</p>
  </div><div class="notifications">
    <h3>Your waste has been collected successfully</h3>
    <p>Track your waste in the Track Tab.</p>
  </div><div class="notifications">
    <h3>Your waste has been collected successfully</h3>
    <p>Track your waste in the Track Tab.</p>
  </div><div class="notifications">
    <h3>Your waste has been collected successfully</h3>
    <p>Track your waste in the Track Tab.</p>
  </div><div class="notifications">
    <h3>Your waste has been collected successfully</h3>
    <p>Track your waste in the Track Tab.</p>
  </div>
</div>
{% endblock %}
