{% extends 'base.html' %} {% block style %}
<link rel="stylesheet" href="../../static/css/reward.css" />{% endblock %}
 {% block title %} Rewards{% endblock %} {% block content %}
<div class="rewards">
  <div class="wrap-coin-card">
    <div class="wrap-coin-card-left">
      <img src="../../static/images/WRAPCOIN-white.svg" />
    </div>
    <div class="wrap-coin-card-right">
      <img src="../../static/images/WRAPCOIN-white.svg" />
      <div class="wrap-coin-card-right-content">
        <h3
          style="
            line-height: 1;
            font-size: xx-large;
            font-weight: bolder;
            opacity: 0.7;
            margin: 0;
          "
        >
          BALANCE
        </h3>
        <h3
          style="
            line-height: 1;
            font-size: 65px;
            font-weight: bolder;
            color: white;
            margin: 0;
          "
          data-count="1352"
        >
          1354
        </h3>
        <h3
          style="
            line-height: 1;
            font-size: 23px;
            font-weight: bold;
            opacity: 0.7;
            margin: 0;
          "
        >
          WRAP COINS
        </h3>
      </div>
    </div>
  </div>
  <a style="display: flex;gap: 10px; padding: 5px 30px; text-decoration: none ; border-radius: 8.19608px;background-color: #009743; " class="mt-4" href="{% url 'redeem' %}">
    <h2
      style="
        
        color: white;
      "
    >
      Redeem Offers
    </h2>
    <img src="../../static/images/redeem-icon.svg" alt="">
  </a>
  <h1 style="text-align: center;font-size: 22px;font-weight: 600; margin: 10px; color: #009743">History</h1>
  <div class="history">
    <table class="history-table">
      <tr class="table-row">
        <td class="table-row-img">
          <img src="../../static/images/upload-red-logo.svg" />
        </td>
        <td class="table-row-content">
          <h3 style="color: red">Offer Purchased</h3>
          <h4>2 Minutes ago</h4>
        </td>
        <td style="display: flex" class="table-row-coins">
          <h3 style="color: red">-250</h3>
          <img src="../../static/images/WRAPCOIN-red.svg" />
        </td>
      </tr>
      <tr class="table-row">
        <td class="table-row-img">
          <img src="../../static/images/download-green-logo.svg" />
        </td>
        <td class="table-row-content">
          <h3>3kg E-waste</h3>
          <h4>2 Minutes ago</h4>
        </td>
        <td style="display: flex" class="table-row-coins">
          <h3>-250</h3>
          <img src="../../static/images/WRAPCOIN-green.svg" />
        </td>
      </tr>
      <tr class="table-row">
        <td class="table-row-img">
          <img src="../../static/images/download-green-logo.svg" />
        </td>
        <td class="table-row-content">
          <h3>1.2kg Bio-waste</h3>
          <h4>2 Minutes ago</h4>
        </td>
        <td style="display: flex" class="table-row-coins">
          <h3>-250</h3>
          <img src="../../static/images/WRAPCOIN-green.svg" />
        </td>
      </tr>
      <tr class="table-row">
        <td class="table-row-img">
          <img src="../../static/images/download-green-logo.svg" />
        </td>
        <td class="table-row-content">
          <h3>0.6kg Plastic</h3>
          <h4>2 Minutes ago</h4>
        </td>
        <td style="display: flex" class="table-row-coins">
          <h3>-250</h3>
          <img src="../../static/images/WRAPCOIN-green.svg" />
        </td>
      </tr>
      <tr class="table-row">
        <td class="table-row-img">
          <img src="../../static/images/download-green-logo.svg" />
        </td>
        <td class="table-row-content">
          <h3>0.4kg Paper</h3>
          <h4>2 Minutes ago</h4>
        </td>
        <td style="display: flex" class="table-row-coins">
          <h3>-250</h3>
          <img src="../../static/images/WRAPCOIN-green.svg" />
        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}