{% extends 'base.html' %} {% block style %}
<style>
  #map {
    height: 100%;
  }

  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .custom-map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
  }
  .custom-map-control-button:hover {
    background: rgb(235, 235, 235);
  }
  .address-display-div {
    overflow: scroll;
    overflow-x: auto;
    width: 100vw;
  }
  .address-display-div > div {
    width: 500px;
  }

  .add-button {
    border-radius: 50%;
  }
  input {
    width: 300px;
    height: 40px;
    justify-content: center;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #009743;
  }
</style>
{% endblock %} {% block title %}Add Adddress{% endblock %} {% block content %}
<div class="bg-gray-100 p-4 flex flex-col justify-center items-center gap-2">
  <h1 class="text-[#009743] text-xl font-semibold">Saved addresses</h1>
  <div class="flex gap-4 address-display-div">
    {% for adrs in adr %}
    <div class="bg-white p-4 rounded-3xl shadow-2xl">
      <h1 class="text-[#009743]">{{adrs.address_title}}</h1>
      <p>{{adrs.address_content}}</p>
      <p>Latitude : {{adrs.latitude}}</p>
      <p>Longitude : {{adrs.longitude}}</p>
      <form action="{% url 'delete_address' %}" method="post">
        {% csrf_token %}
        
        <input
          type="hidden"
          name="address_title"
          value="{{adrs.address_title}}"
        />
        <input
          type="hidden"
          name="address_content"
          value="{{adrs.address_content}}"
        />
        <input type="hidden" name="aid" value="{{adrs.aid}}" />
        <button class="bg-red-100 w-8 h-8 flex">
          <img
            src="../../../static/images/profile-page/delete-logo.svg"
            alt=""
          />
        </button>
      </form>
    </div>
    {% endfor %}
  </div>
  </div>
  <form
  class="bg-gray-100 p-4 flex flex-col justify-center items-center gap-2"
  action="{% url 'add_address' %}"
  method="post"
>
  {% csrf_token %}
  <div class="flex flex-col gap-2">
    <h1 class="text-[#009743]">Pick your current location as address</h1>
    <!-- <button
      class="text-center text-white bg-[#009743] px-2 py-4 rounded-xl"
      onclick="getLocation()"
    >
      Get my current location
    </button> -->
    <div>
      <p>Current Coordinates are</p>
      <h3>X: {{lat}}</h3>
      <h3>Y: {{log}}</h3>
    </div>
    <input type="hidden" name="longitude" value="{{log}}" required />
    <input type="hidden" name="latitude" value="{{lat}}" required />
    <input
      type="text"
      name="address_title"
      placeholder="Enter Location Title"
      required
    />
    <input
      type="text"
      name="address_content"
      placeholder="Enter your current address"
      required
    />
  </div>
  <input type="submit" value="Submit" name="submit" />
</form>
{% endblock %}
