{% extends 'base.html' %} 
{% block style %} {% endblock %}
{% block title %} Purchase{% endblock %}
{% block content %}
<form action="{% url 'purchase' %}" method="post" class="overflow-y-auto h-[40rem]">
     {% csrf_token %}
 <div class="flex gap-3 px-4 mt-[-16px]">
        <div class="w-full">
            <div class="w-fit h-fit rounded-2xl shadow-xl p-4">
                <img class="mt-6 w-8 h-8" src="../../../static/images/purchase-page/purchase-wrap-logo.svg"/>
                <div class="flex items-center justify-center flex-col gap-1">
                    <img  class="h-16" src="../../../static/images/purchase-page/purchase-bin-green.svg"/>
                    <h1 class="text-black text-sm font-semibold">Bio-waste Bin</h1>
                    <p class=" text-gray-500 text-[10px] text-center">The Green-colored dustbins are for wet and biodegradable wastes.</p>
                    <div class="custom-number-input h-10 w-32">
                        <div class="flex flex-row h-10 w-full rounded-lg relative bg-transparent mt-1">
                            <button data-action="decrement" class=" bg-gray-100 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
                                <span class="m-auto text-2xl font-thin">−</span>
                            </button>
                            <input type="number" class=" focus:outline-none text-center w-full bg-gray-100 font-semibold text-md hover:text-black focus:text-black flex items-center text-gray-700  outline-none" name="custom-input-number" value="0"></input>
                            <button data-action="increment" class="bg-gray-100 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer">
                                <span class="m-auto text-2xl font-thin">+</span>
                            </button>
                        </div>
                      </div>
                    <h1 class="text-[#009743] text-xl font-semibold text-center">₹999.00</h1>
                </div>
            </div>
            <div class="w-fit h-fit rounded-2xl shadow-xl p-4">
                <img class="mt-6 w-8 h-8" src="../../../static/images/purchase-page/purchase-wrap-logo.svg"/>
                <div class="flex items-center justify-center flex-col gap-1">
                    <img class="h-16" src="../../../static/images/purchase-page/purchase-bin-blue.svg"/>
                    <h1 class="text-black text-sm font-semibold">Plastic Bin</h1>
                    <p class="text-gray-500 text-[10px] text-center">Blue dustbins are for disposal of plastic & non-biodegradable wastes.</p>
                    <div class="custom-number-input h-10 w-32">
                        <div class="flex flex-row h-10 w-full rounded-lg relative bg-transparent mt-1">
                            <button data-action="decrement" class=" bg-gray-100 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
                                <span class="m-auto text-2xl font-thin">−</span>
                            </button>
                            <input type="number" class=" focus:outline-none text-center w-full bg-gray-100 font-semibold text-md hover:text-black focus:text-black flex items-center text-gray-700  outline-none" name="custom-input-number" value="0"></input>
                            <button data-action="increment" class="bg-gray-100 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer">
                                <span class="m-auto text-2xl font-thin">+</span>
                            </button>
                        </div>
                      </div>
                    <h1 class="text-[#009743] text-xl font-semibold text-center">₹999.00</h1>
                </div>
            </div>
        </div>
        <div class="w-full">
            <div class=" w-fit h-fit rounded-2xl shadow-xl p-4">
                <img class="mt-6 w-8 h-8" src="../../../static/images/purchase-page/purchase-wrap-logo.svg"/>
                <div class="flex items-center justify-center flex-col gap-1">
                    <img class="h-16" src="../../../static/images/purchase-page/purchase-bin-orange.svg"/>
                    <h1 class="text-black text-sm font-semibold">Paper/Glass Bin</h1>
                    <p class="text-gray-500 text-[10px] text-center">Yellow dustbins are meant for papers and glass wastes around us.</p>
                    <div class="custom-number-input h-10 w-32">
                        <div class="flex flex-row h-10 w-full rounded-lg relative bg-transparent mt-1">
                            <button data-action="decrement" class=" bg-gray-100 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
                                <span class="m-auto text-2xl font-thin">−</span>
                            </button>
                            <input type="number" class=" focus:outline-none text-center w-full bg-gray-100 font-semibold text-md hover:text-black focus:text-black flex items-center text-gray-700  outline-none" name="custom-input-number" value="0"></input>
                            <button data-action="increment" class="bg-gray-100 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer">
                                <span class="m-auto text-2xl font-thin">+</span>
                            </button>
                        </div>
                    </div>
                    <h1 class="text-[#009743] text-xl font-semibold text-center">₹999.00</h1>
                </div>
            </div>
            <div class="w-fit h-fit rounded-2xl shadow-xl p-4">
                <img class="mt-6 w-8 h-8" src="../../../static/images/purchase-page/purchase-wrap-logo.svg"/>
                <div class="flex items-center justify-center flex-col gap-1">
                    <img class="h-16" src="../../../static/images/purchase-page/purchase-bin-red.svg"/>
                    <h1 class="text-black text-sm font-semibold m-0">Hospital Bin</h1>
                    <p class="text-gray-500 text-[10px] text-center px-2">Red dustbins are usually used for toxic/ medicinal wastes</p>
                    <div class="custom-number-input h-10 w-32">
                        <div class="flex flex-row h-10 w-full rounded-lg relative bg-transparent">
                            <button data-action="decrement" class=" bg-gray-100 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
                                <span class="m-auto text-2xl font-thin">−</span>
                            </button>
                            <input type="number" class=" focus:outline-none text-center w-full bg-gray-100 font-semibold text-md hover:text-black focus:text-black flex items-center text-gray-700  outline-none" name="custom-input-number" value="0"></input>
                            <button data-action="increment" class="bg-gray-100 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer">
                                <span class="m-auto text-2xl font-thin">+</span>
                            </button>
                        </div>
                    </div>
                    <h1 class="text-[#009743] text-xl font-semibold text-center">₹999.00</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center w-full p-4">	
        <a href="#OrderbinSuccess">
            <input type="submit" name="submit" class="w-48 h-12 rounded-lg bg-[#009743] text-white" value="Place Order"/>
        </a>
    </div>
</form>
{% endblock %}
{% block script %} 
<script>
function decrement(e) {
    const btn = e.target.parentNode.parentElement.querySelector(
      'button[data-action="decrement"]'
    );
    const target = btn.nextElementSibling;
    let value = Number(target.value);
    if (value > 0)
      {
        value--;
        target.value = value;
      }
    else{
      {
        value=0
      }
    }
    
  }

  function increment(e) {
    const btn = e.target.parentNode.parentElement.querySelector(
      'button[data-action="decrement"]'
    );
    const target = btn.nextElementSibling;
    let value = Number(target.value);
    value++;
    target.value = value;
  }

  const decrementButtons = document.querySelectorAll(
    `button[data-action="decrement"]`
  );

  const incrementButtons = document.querySelectorAll(
    `button[data-action="increment"]`
  );

  decrementButtons.forEach(btn => {
    btn.addEventListener("click", decrement);
  });

  incrementButtons.forEach(btn => {
    btn.addEventListener("click", increment);
  });</script>
{% endblock %}