{% extends 'base.html' %} {% block style %}
<link rel="stylesheet" href="../../../static/css/dashboard-pages.css" />
<style>
   .alert {
    text-align: center;
  }

  #preview {
    max-height: 256px;
    height: auto;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
  }
  #img_container {
    border-radius: 5px;
    margin-top: 20px;
    width: auto;
  }
  .input-group {
    margin-left: calc(calc(100vw - 100%) / 2);
    margin-top: 40px;
    width: 320px;
  }
  .imgInp {
    width: 150px;
    margin-top: 10px;
    padding: 10px;
    background-color: #d3d3d3;
  }
  .loading {
    animation: blinkingText ease 2.5s infinite;
  }
  @keyframes blinkingText {
    0% {
      color: #000;
    }
    50% {
      color: transparent;
    }
    99% {
      color: transparent;
    }
    100% {
      color: #000;
    }
  }
  .custom-file-label {
    cursor: pointer;
  }
</style>
{% endblock %} {% block title %} Report{% endblock %} {% block content %}
<form action="{% url 'report' %}" method="post" class="flex flex-col items-center justify-center gap-4 p-6 h-[40rem]">
    {% csrf_token %}
  <div
      class="flex flex-col items-center justify-center bg-white rounded-3xl shadow-2xl px-4 py-4 gap-1 w-[100%]"
    >
      <h1 class="text-[#009743] text-xl font-semibold m-0">Upload your images</h1>
      <p class="text-gray-500 text-sm m-0">
        Please upload a clear picture of the dump.
      </p>
      <p class="text-gray-500 text-sm m-0">(Only PNG, JPG images are supported)</p>
      <div class="Neon Neon-theme-dragdropbox">
        <input
          style="
            z-index: 999;
            opacity: 0;
          "
          name="files[]"
          id="filer_input2"
          multiple="multiple"
          type="file"
        />
        <div class="Neon-input-dragDrop bg-gray-100 h-48 flex flex-col items-center justify-center shadow-3xl rounded-3xl">
          <div class="Neon-input-inner flex flex-col items-center justify-center px-8">
            <div class="Neon-input-icon">
              <i class="fa fa-file-image-o"></i>
            </div>
            <a class="Neon-input-choose-btn">
              <img class="h-12" src="../../../static/images/upload-logo.svg" alt="aas"/>
            </a>
            <div class="Neon-input-text text-center text-sm">
              <h3>Drag and drop or browse to choose a file</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col justify-center items-center bg-white py-4 gap-4 rounded-xl shadow-2xl w-[100%] px-4"
    >
      <h1 class="text-black text-xl font-semibold">
        Enter the location of the dump
      </h1>
      <input class=" w-[95%] h-10 bg-[#ececec] rounded-lg" type="text" placeholder=" HMT Nagar, Kalamassery Kochi"/>
    </div>
    <a class="px-6 py-2 bg-[#009743] text-white rounded-lg bottom-[15%] fixed">
      <input type="submit" name="submit" value="REPORT">
    </a>
  </form>
{% endblock %}
